<div id="home">
  <div class="background">
    <form class="form-signin">
      <div class="text-center mb-4">
        <img src="assets/netflapp.png" id="logo" alt="netflapp">
        <p>
          Programas y películas sin límite y mucho más.
        </p>
      </div>

      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" value="jose.navarro@netflap.com" autofocus>
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" value="123456">
        <label for="inputPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-block" routerLink="app/browse">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy;Netflapp</p>
    </form>
  </div>
</div>
